
    body{
        text-align: center !important;
        background-image: radial-gradient(circle, lightblue, cadetblue, blue, darkblue, navy);
    }
    p{
        margin-top: 20px;
        font-size: 30px;
    }
    input{
        text-align: center;
    }
    .mssg{
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    #div1{
        border-style: solid;
        background-color: burlywood;
        margin: auto;
        width: 800px;
        padding: 20px;
        display: table;
    }